html{
	overflow-x: hidden;
}

body{
	background-color: ;
}

/** NAV **/
nav, .navbar, .navbar-expand-lg, .navbar-light{
	background-color: ;
	margin-bottom: 50px;
}

/** HEADER **/
h1{
	color: #111;
	font-family: #fontheader;
}
h2{
	color: #primary;
	font-family: #fontheader;
}

/** TEXT **/
p{
	font-family: #fontparagraph;
}

/** BUTTON **/
.btn-primary{
	background-color: #primary;
	border-color: #primary;
}
.btn-primary:hover{
	background-color: #primary;
	border-color:#primary;
}
.btn-outline{
	border-color: #primary;
	color:#primary;
}
.btn-outline a{
	color:#primary;
}
.btn-outline:hover{
	background-color: #primary;
	color: white;
}
.btn-outline:hover a{
	color: white;
}


/** CONTAINER **/
.jumbotron{
	background-color: transparent;
}